@page
@model OnlineFashionStore.Pages.Wishlists.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Wishlist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Wishlist.ID" />
            <div class="form-group">
                <label asp-for="Wishlist.ClientID" class="control-label"></label>
                <select asp-for="Wishlist.ClientID" class="form-control" asp-items="ViewBag.ClientID"></select>
                <span asp-validation-for="Wishlist.ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wishlist.ProductID" class="control-label"></label>
                <select asp-for="Wishlist.ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
                <span asp-validation-for="Wishlist.ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wishlist.DateAdded" class="control-label"></label>
                <input asp-for="Wishlist.DateAdded" class="form-control" />
                <span asp-validation-for="Wishlist.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
