@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our clothing store!</h1>
    <h4>Explore a wide range of stylish and high-quality clothing for every occasion. Find the perfect fit for your wardrobe! Check our available products <a asp-area="" asp-page="/Products/Index">here</a>.</h4>
</div>
